In [3]:
import pandas as pd
df = pd.read_csv('C:/Users/jeane/Desktop/USXX/ShanghaiPOI2017-clean.csv')
df.head()

   Unnamed: 0   ID        GPSX       GPSY    GBCODE
0           0  1.0  121.296368  31.188324  990000.0
1           1  1.0  121.473360  31.228923  990000.0
2           2  1.0  121.399378  31.205028  990000.0
3           3  1.0  121.529628  31.271063  990000.0
4           4  2.0  121.169185  31.282332  990000.0

In [4]:
df = df[df["GBCODE"] == 210104]

In [5]:
df.to_csv("cleanPOIShanghai.csv")