In [10]:
import pandas as pd
import pickle
import requests as rq
import json

In [11]:
df = pd.read_pickle("C:/Users/jeane/Desktop/USXX/data-science-course/savedDF.pickle")

In [27]:
bti_df = pd.read_csv('C:/Users/jeane/Desktop/USXX/data-science-course/data-BTI-2006-2018.csv')
bti_df[bti_df['year'] == 2018]

cpi_df = pd.read_excel('C:/Users/jeane/Desktop/USXX/data-science-course/data-CPI-2018.xlsx', header = 2)

In [23]:
bti_2018 = bti_df[bti_df['year'] == 2018]
notAvailable = []
for index,isocode in df.isocode.iteritems():
    try:
        ind = bti_2018.loc[bti_2018['country_code'] == isocode]['stat_ind']
        rank = bti_2018.loc[bti_2018['country_code'] == isocode]['rank_stat_ind']
        
        df.at[index,'Bertelsmann Transformation index (BTI)'] = ind
        df.at[index,'Bertelsmann Transformation index (BTI) - Ranking'] = rank
    except ValueError:
        notAvailable.append(isocode)
        continue
df[['Country (according to CN Gov):','Bertelsmann Transformation index (BTI)', 'Bertelsmann Transformation index (BTI) - Ranking']]

,Country (according to CN Gov):,Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking
1,Afghanistan,2.954762,121.0
2,Albania,6.828571,30.0
3,Armenia,5.576190,61.0
4,Azerbaijan,4.127381,100.0
5,Bahrain,4.616667,89.0
6,Bangladesh,5.111905,79.0
7,Belarus,4.720238,86.0
8,Bhutan,6.247619,45.0
9,Bosnia and Herzegovina,6.282143,43.0
10,Brunei,NaN,NaN
11,Bulgaria,7.800000,17.0
12,Cambodia,3.997619,103.0
13,China,5.016666,81.0
14,Croatia,8.067858,14.0
15,Czech Republic,9.521429,1.0
16,East Timor,NaN,NaN
17,Egypt,4.278572,96.0
18,Estonia,9.517857,1.0
19,France (Not BRI),NaN,NaN
20,Georgia,6.417857,42.0
21,Germany (not BRI),NaN,NaN
22,Hungary,7.432143,18.0
23,India,NaN,NaN
24,Indonesia,6.250000,45.0
25,Iran,3.154762,118.0
26,Iraq,3.746428,107.0
27,Israel,NaN,NaN
28,Jordan,5.219048,72.0
29,Kazakhstan,4.703571,88.0
30,Kuwait,5.607143,60.0
...,...,...,...
39,Moldova,5.957143,54.0
40,Mongolia,6.592857,34.0
41,Montenegro,7.346429,20.0
42,Myanmar,3.375000,111.0
43,Nepal,4.521429,92.0
44,Oman,4.428572,93.0
45,Pakistan,4.010715,102.0
46,Philippines,6.471429,38.0
47,Poland,8.578571,10.0
48,Qatar,5.884524,56.0
49,Romania,NaN,NaN
50,Russia,5.310715,70.0
51,Saudi Arabia,4.265476,97.0
52,Serbia,7.403571,19.0
53,Singapore,7.154762,24.0
54,Slovakia,8.585714,9.0
55,Slovenia,9.178572,6.0
56,Sri Lanka,6.614285,33.0
57,Syria,1.571429,128.0
58,Tajikistan,3.313095,115.0
59,Thailiand,4.714286,87.0
60,The United Arab Emirates,6.071429,52.0
61,Turkey,6.167857,51.0
62,Turkmenistan,3.139286,119.0
63,United Kingdom (Not BRI),NaN,NaN
64,United States of America (Not BRI),NaN,NaN
65,Ukraine,6.539286,36.0
66,Uzbekistan,3.726191,108.0
67,Vietnam,4.407143,94.0
68,Yemen,1.721429,127.0

In [29]:
for index, isocode in df.isocode.iteritems():
    try:
        ind = cpi_df[cpi_df['ISO3'] == isocode]['CPI Score 2018']
        rank = cpi_df[cpi_df['ISO3'] == isocode]['Rank ']
        
        df.at[index,'TI Corruption Perception Index'] = ind
        df.at[index,'TI Corruption Perception Index - Ranking'] = rank
    except ValueError:
        print('[critical]:no data for', isocode)
        continue

[critical]:no data for IOT

In [36]:
heritage_df = pd.read_excel('C:/Users/jeane/Desktop/USXX/data-science-course/data-heritage-2019.xls')

In [41]:
for index, name in df["Country (according to CN Gov):"].iteritems():        
    cleaned_name = name.split(' (')[0].strip()
    
    if name == "Thailiand":
        cleaned_name = "Thailand"   
    elif name == "The United Arab Emirates":
        cleaned_name = "United Arab Emirates"
    elif name == "Brunei":
        cleaned_name = "Brunei Darussalam"
    elif name == "Myanmar":
        cleaned_name = "Burma"
    elif name == "East Timor":
        cleaned_name = "Timor-Leste"
    elif name == "Kyrgyzstan":
        cleaned_name = "Kyrgyz Republic"
    elif cleaned_name == "United States of America":
        cleaned_name = "United States"
        
    try:
        ind = heritage_df[heritage_df['Country Name'] == cleaned_name]['2019 Score']
        rank = heritage_df[heritage_df['Country Name'] == cleaned_name]['World Rank']
        
        df.at[index,'HF Index of Economic Freedom (Scale: 1-100)'] = ind
        df.at[index,'Heritage Foundation Index of Economic Freedom (Global Ranking)'] = rank
    except ValueError:
        print('[critical]:no data for', cleaned_name)
        continue

In [45]:
iso_codes = pd.read_csv('C:/Users/jeane/Desktop/USXX/data-science-course/country-iso.csv')
def getiso2(iso3):
    return iso_codes[iso_codes['Alpha-3 code']== iso3]
getiso2('AFG')

       Country Alpha-2 code Alpha-3 code  Numeric
0  Afghanistan           AF          AFG        4

In [47]:
ratings = pd.read_csv('C:/Users/jeane/Desktop/USXX/data-science-course/data-ratings-2015.csv', sep=';')
ratings_2015 = ratings[ratings['Year']==2015]
ratings_2015.head()

,Country2Code,Year,SP_NumericRating,Moodys_NumericRating,Fitch_NumericRating,Diff_UP_SM,Diff_DW_SM,Diff_UP_MF,Diff_DW_MF,Diff_UP_SF,...,NGDP_RPCH,ExtDebtPercGNI,GGXWDG_NGDP,GGXWDN_NGDP,GGSB_NPGDP,DefaultLastYear,DefaultLast2Years,DefaultLast5Years,DefaultLast10Years,PCPIPCH
14,DO,2015,9.0,8.0,8.0,1.0,NaN,0.0,0.0,1.0,...,7.000,0.0,34.289,34.289,-2.707,1,1,1,1,0.837
31,MA,2015,12.0,11.0,12.0,1.0,NaN,NaN,1.0,0.0,...,4.466,0.0,63.165,63.667,-4.943,0,0,1,1,1.600
32,AO,2015,8.0,10.0,8.0,NaN,2.0,2.0,NaN,0.0,...,2.998,0.0,0.000,62.325,0.000,1,1,1,1,10.275
38,AL,2015,7.0,8.0,NaN,NaN,1.0,NaN,NaN,NaN,...,2.639,0.0,71.886,71.886,0.000,0,1,1,1,1.896
47,AE,2015,19.0,19.0,19.0,0.0,0.0,0.0,0.0,0.0,...,3.930,0.0,-258.810,19.419,0.000,0,0,0,0,4.068

In [48]:
for index, isocode in df.isocode.iteritems():
    iso2 = getiso2(isocode)
    try:
        sp = ratings_2015[cpi_df['Country2Code'] == iso2]['SP_NumericRating']
        moody = ratings_2015[cpi_df['Country2Code'] == iso2]['Moodys_NumericRating']
        fitch = ratings_2015[cpi_df['Country2Code'] == iso2]['Fitch_NumericRating']
        
        df.at[index,'S&P Sovereign Ratings List'] = sp
        df.at[index,'Moody\'s Socvereign Ratings List'] = moody
        df.at[index,'Fitch Sovereign Ratings List'] = fitch
    except ValueError:
        print('[critical]:no data for', cleaned_name)
        continue
df[['S&P Sovereign Ratings List', 'Moody\'s Socvereign Ratings List', 'Fitch Sovereign Ratings List']]

KeyError: 'Country2Code'