In [ ]:
import pandas as pd
from IPython.display import clear_output

In [14]:
df = pd.read_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-POI_Subway_taxi-meters.pk')
df_criterias = df

In [15]:
df_criterias.head()

,Unnamed: 0,Unnamed: 1,clean,smell,noise,town,district,longitude,latitude,hapiness,...,theme park400,Natural Landscape-Historic Holy Land400,Park Plaza400,Places of historic figures and cultural heritage400,subway50,subway100,subway400,taxi400,taxi200,taxi50
0,1,万寿社区居委会,3.0,1.0,1.0,盈浦街道,青浦区,121.104287,31.155882,1.0,...,0,0,0,0,0,0,0,244,200,0
1,2,万泰花园第一居委会,3.0,0.0,1.0,七宝镇,闵行区,121.351529,31.144327,2.0,...,1,0,0,0,0,0,0,1518,566,136
2,3,万科阳光苑居委会,2.0,1.0,1.0,吴泾镇,闵行区,121.468520,31.042285,0.0,...,0,0,0,0,0,0,0,347,285,0
3,4,万豪居委会,3.0,1.0,1.0,长征镇,普陀区,121.367237,31.240725,1.0,...,0,1,0,0,0,0,0,1678,430,15
4,6,万馨居委会,3.0,1.0,1.0,川沙新镇,浦东新区,121.668506,31.195306,1.0,...,0,0,1,0,0,0,0,398,73,2

,clean,smell,noise,hapiness,Snack Bar200,Chinese Restaurant200,Leisure Restaurant200,Other restaurants200,Western Restaurant200,Snack Bar50,...,theme park400,Natural Landscape-Historic Holy Land400,Park Plaza400,Places of historic figures and cultural heritage400,subway50,subway100,subway400,taxi400,taxi200,taxi50
0,3.0,1.0,1.0,1.0,1,15,6,4,0,0,...,0,0,0,0,0,0,0,244,200,0
1,3.0,0.0,1.0,2.0,1,57,2,14,0,0,...,1,0,0,0,0,0,0,1518,566,136
2,2.0,1.0,1.0,0.0,4,19,0,6,0,0,...,0,0,0,0,0,0,0,347,285,0
3,3.0,1.0,1.0,1.0,3,13,6,13,0,0,...,0,1,0,0,0,0,0,1678,430,15
4,3.0,1.0,1.0,1.0,1,1,0,3,0,0,...,0,0,1,0,0,0,0,398,73,2

In [18]:
def createHappyScore(clean, smell, noise):
    happyScore = ""
    if clean < 3:
        happyScore += "Dirty"
    else : 
        happyScore += "Clean"
    
    if smell == 1:
        happyScore += "Notsmelly"
    else : 
        happyScore += "Smelly"
        
    if noise == 1:
        happyScore += "Quite"
    else:
        happyScore += "Noisy"
    
    return happyScore
    
df_criterias["hapiness"] = df_criterias.apply(lambda x: createHappyScore(x.clean, x.smell, x.noise), axis=1)

In [19]:
df_criterias.head()

,clean,smell,noise,hapiness,Snack Bar200,Chinese Restaurant200,Leisure Restaurant200,Other restaurants200,Western Restaurant200,Snack Bar50,...,theme park400,Natural Landscape-Historic Holy Land400,Park Plaza400,Places of historic figures and cultural heritage400,subway50,subway100,subway400,taxi400,taxi200,taxi50
0,3.0,1.0,1.0,CleanNotsmellyQuite,1,15,6,4,0,0,...,0,0,0,0,0,0,0,244,200,0
1,3.0,0.0,1.0,CleanSmellyQuite,1,57,2,14,0,0,...,1,0,0,0,0,0,0,1518,566,136
2,2.0,1.0,1.0,DirtyNotsmellyQuite,4,19,0,6,0,0,...,0,0,0,0,0,0,0,347,285,0
3,3.0,1.0,1.0,CleanNotsmellyQuite,3,13,6,13,0,0,...,0,1,0,0,0,0,0,1678,430,15
4,3.0,1.0,1.0,CleanNotsmellyQuite,1,1,0,3,0,0,...,0,0,1,0,0,0,0,398,73,2

In [20]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
nameColumn = []

#X2['restaurant']=scaler.fit_transform(X[['restaurant']])

for column in df_criterias:
    nameColumn.append(column)
    
for nameC in nameColumn:
    if nameC != "clean" and nameC != "smell" and nameC != "noise" and nameC != "hapiness":
        df_criterias[nameC]=scaler.fit_transform(df_criterias[[nameC]])

In [21]:
df_criterias.to_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/data4hapiness_Scaled.pk')
df_criterias.to_csv('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/data4hapiness_Scaled.csv')