In [2]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon
from IPython.display import clear_output

In [3]:
df = pd.read_pickle("C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/mobike_meters.pk")
df = df.dropna()
df.head()

,Unnamed: 0,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,new_start_x,new_start_y,new_end_x,new_end_y
0,0,1,324731,7541,2016-08-28 00:00,121.490,31.280,2016-08-28 00:08,121.486,31.273,"121.485,31.275#121.485,31.276#121.486,31.273#1...",-2.849907e+06,4.652449e+06,-2.849793e+06,4.652991e+06
1,1,6,288841,4427,2016-08-28 00:00,121.462,31.313,2016-08-28 00:17,121.455,31.315,"121.455,31.313#121.455,31.314#121.455,31.315#1...",-2.846641e+06,4.652220e+06,-2.846013e+06,4.652469e+06
2,2,8,315873,6474,2016-08-28 00:00,121.416,31.154,2016-08-28 00:14,121.419,31.156,"121.416,31.154#121.416,31.155#121.417,31.155#1...",-2.847670e+06,4.662305e+06,-2.847855e+06,4.662058e+06
3,3,10,93155,12616,2016-08-28 00:00,121.436,31.320,2016-08-28 00:12,121.444,31.310,"121.436,31.318#121.436,31.319#121.436,31.320#1...",-2.844320e+06,4.653167e+06,-2.845270e+06,4.653261e+06
4,4,11,352484,11596,2016-08-28 00:00,121.459,31.325,2016-08-28 00:08,121.460,31.315,"121.459,31.315#121.459,31.316#121.459,31.317#1...",-2.846037e+06,4.651779e+06,-2.846419e+06,4.652221e+06

In [4]:
gdf = gpd.GeoDataFrame(df, geometry = [Point(float(x),float(y)) for x,y in zip(df.start_location_x, df.start_location_y)])
gdf.crs = {'init' : 'epsg:4326'}
shPoly = Polygon([(121.10157, 30.975), (121.10157, 31.514999), (121.804611, 31.514999), (121.804611, 30.975)])
gdf = gdf[gdf.geometry.within(shPoly)]

In [5]:
gdf.to_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/mobike_meters.pk')

In [ ]:
df_criterias = pd.read_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-POI_Subway_taxi-meters.pk')
df_criterias = gpd.GeoDataFrame(df_criterias, geometry = [Point(float(x),float(y)) for x,y in zip(df_criterias.transformed_longitude, df_criterias.transformed_latitude)])
dist_varation = {50, 100, 200, 400}
df_criterias.head()

In [ ]:
%%time
global i
i = 0

df = pd.read_pickle("C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/taxi_meters.pk")
df = gpd.GeoDataFrame(df, geometry = [Point(float(x),float(y)) for x,y in zip(df.transformed_longitude, df.transformed_latitude)])


for dist in dist_varation :
    df_criterias["mobikeDeparture" + str(dist)] = pd.Series([0 for x in range(len(df_criterias.index))])
    nbMobike = []

    for j, poi in df_criterias.iterrows():

        gdf_f = df[df.geometry.within(poi.geometry.buffer(400))]
        nbMobike.append(len(gdf_f))

        i += 1
        clear_output(wait = True)
        print(i, "/", len(df_criterias)*len(dist_varation))

    df_criterias["mobikeDeparture" + str(dist)] = nbMobike

In [ ]:
df_criterias.to_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-POI_Subway_taxi_mobike-meters.pk')