In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon
from IPython.display import clear_output

In [2]:
df = pd.read_pickle("C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/taxi_meters.pk")
#df = df.dropna()
df.head()

,Unnamed: 0,taxi_id,time,status,lon,lat,speed,geometry,transformed_longitude,transformed_latitude
0,0,24029,2015-04-11,0,121.421822,31.212080,19.6,POINT (121.421822 31.21208),-2.846406e+06,4.659170e+06
1,1,24029,2015-04-11,0,121.423275,31.212148,15.8,POINT (121.423275 31.212148),-2.846522e+06,4.659094e+06
2,2,24029,2015-04-11,0,121.424295,31.212597,11.5,POINT (121.424295 31.212597),-2.846591e+06,4.659022e+06
3,3,24029,2015-04-11,0,121.426872,31.215222,6.5,POINT (121.426872 31.215222),-2.846722e+06,4.658765e+06
4,4,24029,2015-04-11,0,121.427138,31.215365,6.7,POINT (121.427138 31.215365),-2.846740e+06,4.658745e+06

In [3]:
gdf = gpd.GeoDataFrame(df, geometry = [Point(float(x),float(y)) for x,y in zip(df.lon, df.lat)])
gdf.crs = {'init' : 'epsg:4326'}
shPoly = Polygon([(121.10157, 30.975), (121.10157, 31.514999), (121.804611, 31.514999), (121.804611, 30.975)])
gdf = gdf[gdf.geometry.within(shPoly)]

In [ ]:
gdf.to_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/taxi_meters.pk')

In [2]:
df_criterias = pd.read_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-criterias_7-meters.pk')
df_criterias = gpd.GeoDataFrame(df_criterias, geometry = [Point(float(x),float(y)) for x,y in zip(df_criterias.transformed_longitude, df_criterias.transformed_latitude)])
df_criterias.head()

,Unnamed: 0,Unnamed: 1,clean,smell,noise,town,district,longitude,latitude,hapiness,...,Natural Landscape-Historic Holy Land100,Park Plaza100,Places of historic figures and cultural heritage100,theme park400,Natural Landscape-Historic Holy Land400,Park Plaza400,Places of historic figures and cultural heritage400,subway50,subway100,subway400
0,1,万寿社区居委会,3.0,1.0,1.0,盈浦街道,青浦区,121.104287,31.155882,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2,万泰花园第一居委会,3.0,0.0,1.0,七宝镇,闵行区,121.351529,31.144327,2.0,...,0,0,0,1,0,0,0,0,0,0
2,3,万科阳光苑居委会,2.0,1.0,1.0,吴泾镇,闵行区,121.468520,31.042285,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,万豪居委会,3.0,1.0,1.0,长征镇,普陀区,121.367237,31.240725,1.0,...,0,0,0,0,1,0,0,0,0,0
4,6,万馨居委会,3.0,1.0,1.0,川沙新镇,浦东新区,121.668506,31.195306,1.0,...,0,0,0,0,0,1,0,0,0,0

In [26]:
df = pd.read_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-POI_Subway_taxi-meters.pk')
df = gpd.GeoDataFrame(df, geometry = [Point(float(x),float(y)) for x,y in zip(df.transformed_longitude, df.transformed_latitude)])
df_criterias = df
df = pd.read_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/taxi_meters.pk')
df = gpd.GeoDataFrame(df, geometry = [Point(float(x),float(y)) for x,y in zip(df.transformed_longitude, df.transformed_latitude)])
dist_varation = {50, 200}

In [29]:
del df_criterias['taxi50']
del df_criterias['taxi100']
df_criterias.rename(columns={'taxi200':'taxi400'}, inplace=True)
df_criterias.head()

,Unnamed: 0,Unnamed: 1,clean,smell,noise,town,district,longitude,latitude,hapiness,...,Park Plaza100,Places of historic figures and cultural heritage100,theme park400,Natural Landscape-Historic Holy Land400,Park Plaza400,Places of historic figures and cultural heritage400,subway50,subway100,subway400,taxi400
0,1,万寿社区居委会,3.0,1.0,1.0,盈浦街道,青浦区,121.104287,31.155882,1.0,...,0,0,0,0,0,0,0,0,0,244
1,2,万泰花园第一居委会,3.0,0.0,1.0,七宝镇,闵行区,121.351529,31.144327,2.0,...,0,0,1,0,0,0,0,0,0,1518
2,3,万科阳光苑居委会,2.0,1.0,1.0,吴泾镇,闵行区,121.468520,31.042285,0.0,...,0,0,0,0,0,0,0,0,0,347
3,4,万豪居委会,3.0,1.0,1.0,长征镇,普陀区,121.367237,31.240725,1.0,...,0,0,0,1,0,0,0,0,0,1678
4,6,万馨居委会,3.0,1.0,1.0,川沙新镇,浦东新区,121.668506,31.195306,1.0,...,0,0,0,0,1,0,0,0,0,398

In [31]:
%%time
global i
i = 0

for dist in dist_varation :
    df_criterias["taxi" + str(dist)] = pd.Series([0 for x in range(len(df_criterias.index))])
    nbTaxi = []
    
    for j, poi in df_criterias.iterrows():

        gdf_f = df[df.geometry.within(poi.geometry.buffer(dist))]
        nbTaxi.append(len(gdf_f))
        i += 1
        clear_output(wait = True)
        print(dist, "en cours")
        print(i, "/", len(df_criterias)*len(dist_varation))

    df_criterias["taxi" + str(dist)] = nbTaxi

50 en cours
716 / 716
Wall time: 1h 17min 29s

In [32]:
df_criterias.head()

,Unnamed: 0,Unnamed: 1,clean,smell,noise,town,district,longitude,latitude,hapiness,...,theme park400,Natural Landscape-Historic Holy Land400,Park Plaza400,Places of historic figures and cultural heritage400,subway50,subway100,subway400,taxi400,taxi200,taxi50
0,1,万寿社区居委会,3.0,1.0,1.0,盈浦街道,青浦区,121.104287,31.155882,1.0,...,0,0,0,0,0,0,0,244,200,0
1,2,万泰花园第一居委会,3.0,0.0,1.0,七宝镇,闵行区,121.351529,31.144327,2.0,...,1,0,0,0,0,0,0,1518,566,136
2,3,万科阳光苑居委会,2.0,1.0,1.0,吴泾镇,闵行区,121.468520,31.042285,0.0,...,0,0,0,0,0,0,0,347,285,0
3,4,万豪居委会,3.0,1.0,1.0,长征镇,普陀区,121.367237,31.240725,1.0,...,0,1,0,0,0,0,0,1678,430,15
4,6,万馨居委会,3.0,1.0,1.0,川沙新镇,浦东新区,121.668506,31.195306,1.0,...,0,0,1,0,0,0,0,398,73,2

In [33]:
df_criterias.to_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-POI_Subway_taxi-meters.pk')

In [34]:
df_criterias.to_csv('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-POI_Subway_taxi-meters.csv')